body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}

.page-title {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.071;
  color: white;
}
.button {
  font-weight: 500;
  letter-spacing: 4%;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button:hover {
  background-color: #444bbf;
}

.link {
  font-size: 12px;
  line-height: 1.33;
  text-decoration: underline;
  color: #2e2f42;
  text-decoration: none;
}

.page-nav .link:hover {
  color: #4d5ae5;
}
.page-nav .link:active {
  text-decoration: underline;
  color: #4d5ae5;
}
.page-title3 {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 0.83;

}
.small-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 4%;
}
.page-title2 {
  font-size: 36px;
  font-weight: bold;
  color: #2e2f42;
  line-height: 0.9;
}
.logoweb {
  font-family: "Raleway",sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 3%;
color: #4d5ae5;
}
.logoStudio {
  font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 3%;
    color: #2e2f42;

}
.logoStudio2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  color: #f4f4fd;

}
.address {color: #434455;

}
.section1 {background-color: #2e2f42;

}
.section2 {background-color: #f4f4fd;
}
.footer {background-color: #2e2f42;

}